.itptfx-project-grid {
    height: 450px;
    position: relative;
}

.height-200px {
    height: 200px;
}

.absolute-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Paddings */
.pb-15px {
	padding-bottom: 15px;
}

/** Fonts **/

.font-xsmall {
	font-size: x-small;
}